/Servers
.metadata
/RemoteSystemsTempFiles
/build
/bin
/ICA-Client/bin
/ICA-Client-Sample/bin
/ICA-Client/gen
/ICA-Client-Sample/gen
/.metadata
/WebContent/WEB-INF/classes
*.war
build.properties
local.properties
